In [1]:
from loan_prediction_module import *

In [3]:
model = loan_model('model', 'scaler')

model.load_and_clean_data('loan-test.csv')

model.predicted_outputs()

(367, 14)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Probability,Prediction
0,5720,0,110.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0.725209,1
1,3076,1500,126.0,360.0,1.0,1,1,1,0,0,0,0,0,1,0.633238,1
2,5000,1800,208.0,360.0,1.0,1,1,0,1,0,0,0,0,1,0.678357,1
3,2340,2546,100.0,360.0,1.0,1,1,0,1,0,0,0,0,1,0.700571,1
4,3276,0,78.0,360.0,1.0,1,0,0,0,0,1,0,0,1,0.597988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,4009,1777,113.0,360.0,1.0,1,1,0,0,1,1,1,0,1,0.607219,1
363,4158,709,115.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0.706637,1
364,3250,1993,126.0,360.0,1.0,1,0,0,0,0,0,0,1,0,0.697313,1
365,5000,2393,158.0,360.0,1.0,1,1,0,0,0,0,0,0,0,0.573758,1
366,9200,0,98.0,180.0,1.0,1,0,0,0,0,0,1,0,0,0.576836,1

In [4]:
model.predicted_outputs().to_csv('loan_approval_predictions.csv', index = False)